.count-container {
  text-align: center;
  margin-top: 50px;
}

.count-value {
  font-size: 2em;
  margin-bottom: 20px;
}

.count-button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
}

.count-button:hover {
  background-color: #000000;
}
