* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(0, 8, 83);
}

.container {
    /* Largura */
    width: 100%;
    max-width: 450px;
    /* Borda */
    border: 2px solid #ffffff;
    /* Borda arredondada */
    border-radius: 5px;
    /* Centralizar minha tela */
    margin: 40px auto;
}

.container form {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control input {
    /* Espaçamento entre os elementos */
    margin-top: 15px;
    margin-bottom: 15px;
    /* Efeito colateral do navegador */
    outline: none;
    /* Espaçamento dentro do elemento */
    padding: 5px;
}

.form-control label {
    /* Espaçamento entre os elementos */
    margin-top: 15px;
    color: #ffffff;
    display: block;
}

#verificar-nota {
    /* Cor de fundo */
    background: #191970;
    /* Borda do botão */
    border: 1px solid #ffffff;
    /* Cor de texto */
    color: #ffffff;
    /* Espaçamento dentro do elemento */
    padding: 5px;
    /* Espaçamento fora do elementos */
    margin-bottom: 10px;
    /* Cursor Mãozinha */
    cursor: pointer;
    transition: all 0.9s;
}

#resultado {
    color: #ffffff;
    margin-bottom: 10px;
}

#message {
    display: none;
}

#message span {
    color: red;
    padding-bottom: 10px;
}