* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(0, 8, 83);
}

.container {
    /* Largura */
    width: 100%;
    max-width: 450px;
    /* Borda */
    border: 2px solid #ffffff;
    /* Borda arredondada */
    border-radius: 5px;
    /* Centralizar minha tela */
    margin: 0 auto;
}